<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <!--<div><a href="index.html" class="logo me-auto"><img src="assets/img/logo.jpg" alt="" class="img-fluid"></a></div>-->
      <div><h1 class="logo me-auto"><a href="/">SEST.JH</a></h1></div>
      
      
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="<%= path ==='/'? 'active': ' ' %>" href="/">Home</a></li>
          <li><a class="<%= path ==='/courses'? 'active': ' ' %>"  href="/courses">Courses</a></li>
          <li><a class="<%= path ==='/tools'? 'active': ' ' %>"  href="/tools">Tools</a></li>
          <li><a class="<%= path ==='/events'? 'active': ' ' %>"  href="/events">Events</a></li>
          <li><a class="<%= path ==='/contact'? 'active': ' ' %>"  href="/contact">Contact</a></li>
        </ul>
        
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="/auth" class="get-started-btn">Login</a>
      <div class="nav_btns">
        <!--Theme change button-->
        <i class="uil uil-moon change-theme" id="theme-button"></i>
        <div class="nav_toggle" id="nav-toggle">
            <i class="uil uil-apps "></i>
        </div>
      </div>

    </div>
  </header><!-- End Header -->