<%- include('../partials/courses/head.ejs') %>
<body>

  <%- include('../partials/nav.ejs') %>

  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2><%= subject.charAt(0).toUpperCase()+subject.slice(1) %></h2>
        <p>Welcome to the Spectra course page! Here you'll find everything you need to succeed in this course, including textbooks, practice exams, and more.</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Courses Section ======= -->
    <section id="courses" class="courses">
      <div class="container" data-aos="fade-up">
        <% if(files.length!=0) { %>
        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <% files.forEach(file =>{ %> 
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <a href="/course/<%= file.course %>/<%= file.semester %>/<%= file.subject %>/<%= file.file %>" > <img src="https://play-lh.googleusercontent.com/BkRfMfIRPR9hUnmIYGDgHHKjow-g18-ouP6B2ko__VnyUHSi1spcc78UtZ4sVUtBH4g" class="img-fluid" alt="..."></a>
              <div class="course-content">
               
                <h3><a href="/course/<%= file.course %>/<%= file.semester %>/<%= file.subject %>/<%= file.file %>"><%= file.semester %></a></h3>
                <p><%= file.file %></p>
                <!-- <form action="" method="get">
                  <button>Download file</button> -->
              </div>
            </div>
          </div> <!-- End Course Item-->
          <% }) %>
        </div>
        <% } else { %>
        <h1>Sorry! No notes yet.</h1>
        <% } %>
          

      </div>
    </section><!-- End Courses Section -->
    
  </main><!-- End #main -->

  <%- include('../partials/courses/end.ejs') %>